fastapi==0.110.0
uvicorn==0.28.0
pydantic==2.6.4
python-multipart==0.0.9
pillow==10.2.0
requests==2.31.0
gTTS==2.5.1
ultralytics==8.1.27
huggingface_hub==0.21.4
cloudinary==1.39.0
supabase==2.4.0
firebase-admin==6.5.0
python-dotenv==1.0.1
